<div class="container border">
    <h2>Crea un nuevo producto</h2>
<form onsubmit="submitForm(event)">
    <div class="mb-3">
        <label for="title" class="form-label">Nombre del producto</label>
        <input id="title" class="form-control" name="title" type="text">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio del producto</label>
        <input id="price" class="form-control" name="price" type="number">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Link de la imagen del producto</label>
        <input id="thumbnail" class="form-control" name="thumbnail" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Crear Producto</button>
</form>
</div>