<!-- FORMULARIO QUE INICIALIZA EL CHAT -->
<div class="form-wrapper row d-flex justify-content-center align-items-center rows" id="initChatWrapper">
    <div class="col-md-6">
        <div class="card">
            <div class="text-center"> <img src="support.svg" width="200"> <span class="d-block mt-3">¿Perdido? ¿Necesitas ayuda? ¡Hablemos!</span>
                <form class="mx-5">
                    <div class="input-group mb-3 mt-4"> 
                        <input type="text" class="form-control" placeholder="Enter email" id="email"> 
                        <button class="btn btn-success border-rad" type="button" id="initChat">Empezar a chatear!</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--FORMULARIO DEL CHAT -->
<div class="chat-wrapper row rounded-lg overflow-hidden shadow border">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Usuarios conectados</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0" id="usersList">
             <!--Aca van a ir el listado todos los usuarios nuevos que se van agregando-->
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white" id="messagesWrapper">
        <!-- Sender Message-->
        

        <!-- Reciever Message-->
        <div class="rigth media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="bg_primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>

      </div>

      <!-- Typing area -->
      <form class="bg-light" id="chatBox">
        <div class="input-group">
          <input id="inputMessage" type="text" placeholder="Escribe algo..." aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <input type="submit" id="submitMessage" class="btn btn-link"></input>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>