<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
</head>
<body>
    <% if(locals.nombre) { %>
        <div class="alert alert-primary d-flex p-2 bd-highlight justify-content-center" role="alert">
            <p id="userHello">Bienvenido nuevamente <%- nombre %> </p>
            <form action="/api/users/logout" method="POST">
                <button type="submit" class="btn btn-primary">Desloguearme</button>
            </form>
        </div>
    <% } %>

    <%- include('./partials/form.ejs'); %>
    <%- include('./partials/tabla.ejs'); %>
    <%- include('./partials/chat.ejs'); %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://kit.fontawesome.com/9248911cfd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</body>
</html>
