<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Profile | <%- fullName %> </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="<%- photo %>" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h3 class="mb-0 mt-0"><%- fullName %></h3>
                <h3 class="mb-0 mt-0"><%- email %></h3> <br>
                <a href="/api/users/logout" type="button" class="btn btn-warning">Log out</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
